.App {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 40px;
}

.AppLeftSide {
  background-color: #bd5858;
  height: 100%;
  position: fixed;
  width: 25%;
}
